


@mixin contact_page($color-basic,$color-main-1,$color-main-2,$screen1) {
    // color thay đổi chính
    $screen-ipad: $screen1;

    /*========================================================
   Css style Kontakt
=========================================================*/
    .wr-map-kt {

        position: relative;

        iframe {width: 100% !important;}
    }

    .mr-am-kt {

        img {margin-right: 10px;float: left;}

        p {margin-left: 45px;}
    }

    #map {position: absolute;top: 0;bottom: 0;left: 15px;right: 15px;z-index: 1;}


    .mailform {

        margin-top: 20px;

        .btn-sent {
            
            background: $color-main-1;color: #fff;float: left;border-radius: 0;margin-bottom: 15px;padding: 12px 30px 12px;line-height: 16px;font-size: 16px;

            &:hover {background: $color-main-2;}
        }

        

        .name {background: #fff url('/Claw/Sites/Default/Modules/Contacts/Images/icon-contact-name.png') no-repeat 10px 12px;}

        .email {background: #fff url('/Claw/Sites/Default/Modules/Contacts/Images/icon-contact-email.png') no-repeat 10px 12px;}

        .phone {background: #fff url('/Claw/Sites/Default/Modules/Contacts/Images/icon-contact-phone.png') no-repeat 10px 12px;}

        .message {background: #fff url('/Claw/Sites/Default/Modules/Contacts/Images/icon-contact-content.png') no-repeat 10px 12px;}

        .js-error {position: absolute;left: -5px;color: #ff0000;}

        .wr-line-input {margin: 10px 0;}

        label {float: left;width: 5px;position: absolute;left: -7px;top: 0;}

        .captchaTable td {padding: 0;}

        .txtCaptcha {border: 1px solid #dddada !important;height: 40px !important;font-size: 16px !important;}
		
		.field-validation-error{position:absolute;left:0}
    }
    .wr-line-input-kt {
            
        width: 100%;float: left;margin-bottom: 10px;border: 1px solid #dddada;min-height: 30px;

        .txt-input {width: 100%;padding: 0 2% 0 40px;float: left;color: $color-basic;border: none;height: 40px;line-height: 40px;}

        .txt-input.message {height: 150px;}
    }
    .form-control {

        box-shadow: none;height: 28px;line-height: 25px;font-size: 16px;border-radius: 0;background-color: rgba(255,255,255,0.2);border: 1px solid #dddada;color: #333;-webkit-appearance: none;

        ul {
            
            float: none !important;

            li {float: none !important;}
        }
    }

    .form-control::-moz-placeholder {color: $color-basic;}

    .list-unstyled li {list-style: none !important;color: $color-basic;border: 1px solid #e7e7e7;}

    .pad-0 {padding-left: 0;padding-right: 0;}
	.col-xs-12 table.captchaTable{width:auto!important}
	
	/*validate contact input area start*/
	.txt-input:focus:invalid, .k-input:focus:invalid,.txtCaptcha:focus:invalid{border: 1px solid #FF4D4E!important;
		box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(255,77,77,.6)!important;}
	.txt-input{outline:none;border:1px solid #c5c5c5;}
	/*.txtCaptcha{outline:none;}*/
	.txt-input:focus {
		border-color: $color-main-1;
		outline: 0;
		-webkit-box-shadow: inset 0px 0px 1px $color-main-1, 0px 0px 8px $color-main-1;
		box-shadow: inset 0px 0px 1px $color-main-1, 0px 0px 8px $color-main-1;
		opacity:0.8;
		
	}
    /*================ css RWD  ============*/
    @media only screen and (max-width: $screen-ipad) {
        /*.mr-am-kt {margin-left: -15px !important;margin-right: -15px !important;}*/
    }
}
