@mixin mini-cart($font-main-1, $font-main-2, $color_boder, $color_black, $color_white, $color-two, $color-three, $color-four, $color-mn-ac) {
	.cart .loader img{display:none;width:25px;height:25px;background:#fff;text-align:center;border-radius:50%;line-height:14px;position:absolute;top:0;right:0;margin-left:15px;}
    .mini-cart-page{
        .mini-cart-container{max-width: 500px; height: 100%; position: fixed; background: $color_white; right: -666px; top: 0; z-index: 999999;}
        .bg-cart { z-index: 999998; background: $color_black; position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.5; display: none;}
        
        .mini-cart-header{
            background: $color-three; padding: 10px; border-bottom: 1px solid $color_boder;
            .close-cart{
                font-size: 18px; text-align: left;
                .mdi-close:before{margin-bottom: 5px;}
            }
            .title-cart{font-family: $font-main-2; font-size: 16px; text-align: center; text-transform: capitalize;color:$color-mn-ac;margin-top:5px;}
            .discount-code{
                text-align: right; text-transform: uppercase; font-size: 11px; margin-top: 8px; cursor: pointer;
            }
        }
        .ship-note { 
            background:#EBEBEB; border-bottom:solid 1px rgba(0,0,0,0.1); font-size:13px; padding: 5px 15px; margin-bottom:5px;
            a { padding:0; margin:0;  
                span{ font-size: 11px;  }
            }
            img { width:38px; margin-right:10px; float:left; margin-bottom: 10px;   }
        }
        .discount-form{
            padding: 10px 20px 10px 20px; display: inline-block; opacity: 1.0; margin-bottom:10px; width:100%;
            .discount-form-contain{position: relative; height:50px; }
            input{
                height:50px; border-radius: 2px;
                &:focus{outline: none !important; border:1px solid $color-main-1; box-shadow: 0 0 2px $color-main-1;}
            }
        .btn-discount{padding: 7px 20px; background: $color-mn-ac; color: $color_white;text-align: center; text-transform: uppercase; position: absolute; top:8px; right: 10px;border:none;}
            .i-close-form{padding-top: 10px; text-align: center;}
        }
        
        
        .mini-cart-content{margin: 10px 20px 0 20px; height: auto;}
        
        .minicart-promotions{
            border: $color-two 1px solid; padding: 10px 20px;
            .minicart-promotion-code{font-size: 9px; color: $color-two; text-transform: uppercase;}
            .minicart-promotion-display-name{font-size: 12px; font-weight: 700; color: $color-two; text-transform: uppercase;}
        }
        
        .product-item{
            padding: 15px 0; padding-top:0;  height: auto; position: relative; width: 100%; display: inline-block; 
            &:last-child{border-bottom: none;}
            .remove-item{float:right;cursor:pointer;}
            .product-table-col-img{
                width: 20%; float: left;border: 1px solid $color_boder;
                img{max-width:100%;}
            }
            .product-info{
                width: 80%; float: right; padding-left: 10px;
                .product-table-name{padding-bottom:5px;}
                .product-attributes{
                    .product-color, .size{color: $color-four; font-family: $font-main-2;}
                }
            } 
        }
        
        .product-quantity{
                        display: inline-flex; line-height: 26px; margin-top: 15px; width: 50%; 
                .quantity-view{margin: 0; font-size: 15px;padding:0;text-align:center;width:38px;border:none;}
                .minus, .plus{
                    border: 1px solid $color_boder; width: 28px; height: 28px; font-size: 20px; font-family: $font-main-2; border-radius: 5px; text-align: center; cursor: pointer; background: $color_white; transition: background 0.5s;padding:0;
                    &:hover{background: $color-three;}
                }
                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                }
                input[type=number] {
                    -moz-appearance:textfield;
                }
            }
        
        .product-price{
            padding-top: 5px; text-align: right;float:right;
            
            .price-original{
                .price-item{text-decoration: line-through; font-size: 12px;}
                .price-currency{font-size: 9px; margin-bottom: 5px;}
            }
            .price-final{
                                color: $color-two; margin-top:12px;
                                .price-item{font-family:$font-main-2;  font-size:18px;}
            }
        }
        
        .cart-vat-price{text-align:right}
        .price-coupon{text-align:right}
        
        .cart-total-final{
            font-size: 20px;
            .cart-final-price{
                text-align: right; font-family: $font-main-2;
                .price-currency{font-size: 11px; font-family: $font-main-1;}
            }
        }
        
        .mini-cart-footer{
            padding: 20px; border-top: 2px solid $color_boder;
            .mini-btn-checkout{
                width: 100%; text-align: center;color: $color_white;  clear: both; position: relative; margin: 20px 0 10px 0; -webkit-transition: background 1s;  -moz-transition: background 1s; -o-transition: background 1s; transition: background 1s; 
                a{
                    text-transform: uppercase; font-family: $font-main-2; font-size: 15px;font-style:italic;background: $color-four; padding: 15px 50px;width:100%;display:block;
                    &:hover{color: $color_white;background: $color-basic;}
                }
            }
            .monthly-payment{ text-align: center;}
            .discount-total{
                color: $color-two; font-family: $font-main-2;
                .price-discount{
                    color: $color-two; text-align: right; font-weight: 500;
                    .price-currency{
                        font-size: 9px; font-family: $font-main-1;
                    }
                }
            }
        }
        @media only screen and (max-width: 1170px){	
            /*.discount-form{padding:10px 5px;}*/
        }
    @media screen and (max-width: 500px){
            .mini-cart-container{width: 100%;}
        }

        @media screen and (max-width: 420px){
            .mini-cart-container .mini-cart-header{
                .discount-code{width: 40%;}
                .title-cart{width: 60%;}
                .close-cart{position: absolute; width: 40%; z-index: 99;;}
            } 
            .discount-form-contain{width: calc(100% - 20px);padding:0px 5px 10px 15px;}
            .discount-form{
                position: absolute; top: 50px; background: #f9f9f9; z-index: 99; display: none;
                .i-close-form{width: 10px;}
            }
            .price-discount-label, .discount-label, .cart-total-label{width: 70%;}
            .price-discount, .cart-final-price{width: 30%;}
            .mini-cart-footer{
                /*padding: 10px 0; */clear: both;
                .mini-btn-checkout{margin-top: 10px;}
                .discount-total{margin-bottom: 0;}
                /*.mini-btn-checkout{padding: 10px 50px;}*/
            }
            .product-item{padding-bottom: 30px;}
            .ship-note{margin: 10px 20px;}
        }
    
    }
} 

/* End Mini Cart 
======================================================================*/ 

